<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
    Dashing.gridsterLayout('[{"col":2,"row":3,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":3,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":2},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":2,"size_y":2},{"col":2,"row":1,"size_x":2,"size_y":2}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>


<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
   

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="NombreKO" data-id="NombreKO" data-view="Atatus" data-title="Liens GitHUB/ELK" data-green="1" data-yellow="3"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="Détailscommits" data-view="List" data-title="" data-text="" data-moreinfo=""data-green="1" data-yellow="2"></div>
    </li>

  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Test fitnesse K.O" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="PIC" data-view="Meter" data-moreinfo="sync all day" data-title="PIC" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1"   data-col="1" data-sizex="2" data-sizey="2">
        <div
        data-id="bar-chart"
        data-title="" 
        data-text=""
        data-view="Chartjs"
        data-type="bar"
        data-labels="Day 1,Day 2,Day 3,Day 4,Day 5"
        data-colornames="blanc,blanc,blanc,blanc,blanc"
        data-datasets="210,339,220,494,109"
        data-height="400"
        data-width="400"
      ></div>
    </li>

   
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
        <div
          data-id="line-chart"
          data-view="Chartjs"
          data-type="line"
          data-labels="Week 1,Week 2,Week 3,Week 4,Week 5"
          data-colornames="blanc,blanc,blanc,blanc,blanc"
          data-datasets="10,39,20,49,87"
          data-colornames="blanc,blanc,blanc,blanc,blanc"
          data-datasets="10,39,20,49,87"
          data-height="500"
          data-width="400"
        ></div>
      </li>

  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
